* {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
  button {
    border: none;
  }
}

.test {
  /* Vector 2 */

  position: absolute;
  width: 221px;
  height: 105.5px;
  left: 424px;
  top: 65px;

  background: linear-gradient(
    180deg,
    rgba(208, 38, 38, 0.08) 0%,
    rgba(208, 38, 38, 0) 100%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
